.alt-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.alt-head__text {
  font-size: 32px;
  font-weight: 600;
}

.alt-head__column:first-child {
  margin-right: auto;
}

.alt-head__column:last-child {
  margin-left: auto;
}
